
<!-- bariloche -->
<div id="bariloche" class="travel">
  <div class="row">
    <h4>Bariloche</h4>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/bariloche/bariloche.jpg" class="card-img-top" alt="Ciudad de Bariloche">
      <div class="card-body">
        <p class="card-text">Ciudad de Bariloche</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/bariloche/buceo_01.jpg" class="card-img-top" alt="Descubrí la Bariloche profunda">
      <div class="card-body">
        <p class="card-text">Descubrí la Bariloche profunda</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/bariloche/cabalgata_01.jpg" class="card-img-top" alt="Cabalga hacia la aventura">
      <div class="card-body">
        <p class="card-text">Cabalga hacia la aventura</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/bariloche/escalada_02.jpg" class="card-img-top" alt="A la altura de tus sueños">
      <div class="card-body">
        <p class="card-text">A la altura de tus sueños</p>
      </div>
    </div>
  </div>
</div>
<!-- calafate -->
<div id="calafate" class="travel">
  <div class="row">
    <h4>Calafate</h4>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/calafate/calafate.jpg" class="card-img-top" alt="calafate">
      <div class="card-body">
        <p class="card-text">Ciudad de Calafate</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/calafate/perito_moreno.jpeg" class="card-img-top" alt="Glaciar Perito Moreno">
      <div class="card-body">
        <p class="card-text">Glaciar Perito Moreno</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/calafate/safari_nautico.jpeg" class="card-img-top" alt="Safari Nautico">
      <div class="card-body">
        <p class="card-text">Safari Nautico</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/calafate/safari_terrrestre.jpeg" class="card-img-top" alt="Safari Terrestre">
      <div class="card-body">
        <p class="card-text">Safari Terrestre</p>
      </div>
    </div>
  </div>
</div>
<!-- cordoba -->
<div id="cordoba"  class="travel">
  <div class="row">
    <h4>Cordoba</h4>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/calafate/calafate.jpg" class="card-img-top" alt="Cordoba">
      <div class="card-body">
        <p class="card-text">Ciudad de Cordoba</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/cordoba/valle_de_cala_muchita.jpg" class="card-img-top" alt="Valle de Calamuchita">
      <div class="card-body">
        <p class="card-text">Valle de Calamuchita</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/cordoba/panaholma.jpg" class="card-img-top" alt="Panaholma ">
      <div class="card-body">
        <p class="card-text">Panaholma </p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/cordoba/obtoberfest.jpeg" class="card-img-top" alt="Obtoberfest">
      <div class="card-body">
        <p class="card-text">Obtoberfest</p>
      </div>
    </div>
  </div>
</div>
<!-- jujuy -->
<div id="jujuy" class="travel">
  <div class="row">
    <h4>Jujuy</h4>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/jujuy/jujuy.jpeg" class="card-img-top" alt="jujuy">
      <div class="card-body">
        <p class="card-text">Ciudad de Jujuy</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/jujuy/purmamarca.jpeg" class="card-img-top" alt="Purmamarca">
      <div class="card-body">
        <p class="card-text">Purmamarca</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/jujuy/salinas_grandes.jpeg" class="card-img-top" alt="Salinas Grandes ">
      <div class="card-body">
        <p class="card-text">Salinas Grandes </p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/jujuy/yala.jpeg" class="card-img-top" alt="Yala">
      <div class="card-body">
        <p class="card-text">Yala</p>
      </div>
    </div>
  </div>
</div>
<!-- mar del plata -->
<div id="mardelplata" class="travel">
  <div class="row">
    <h4>Mar del Plata</h4>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/mardelplata/mardelplata.jpeg" class="card-img-top" alt="Ciudad de Mar del Plata">
      <div class="card-body">
        <p class="card-text">Ciudad de Mar del Plata</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/mardelplata/torreon_del_monje.jpg" class="card-img-top" alt="Torreón del Monje">
      <div class="card-body">
        <p class="card-text">Torreón del Monje</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/mardelplata/playa_varese.jpg" class="card-img-top" alt="Playa Varese">
      <div class="card-body">
        <p class="card-text">Playa Varese</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/mardelplata/cabo_largo.jpg" class="card-img-top" alt="Cabo Largo">
      <div class="card-body">
        <p class="card-text">Cabo Largo</p>
      </div>
    </div>
  </div>
</div>
<!-- mendoza -->
<div id="mendoza">
  <div class="row">
    <h4>Mendoza</h4>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/mendoza/mendoza.jpeg" class="card-img-top" alt="Ciudad de Mendoza">
      <div class="card-body">
        <p class="card-text">Ciudad de Mendoza</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/mendoza/aconcagua.jpeg" class="card-img-top" alt="Aconcagua">
      <div class="card-body">
        <p class="card-text">Aconcagua</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/mendoza/canon_del_atuel.jpeg" class="card-img-top" alt="Cañón del Atuel">
      <div class="card-body">
        <p class="card-text">Cañón del Atuel</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/img/mendoza/las_bodegas.jpeg" class="card-img-top" alt="Las bodegas">
      <div class="card-body">
        <p class="card-text">Las bodegas</p>
      </div>
    </div>
  </div>
</div>
