<nav class="bd-links w-50 sticky-top" id="bd-docs-nav" aria-label="Docs navigation">
  <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
    <li class="bd-links-group py-2">
      <a href="#bariloche" class="nav-link bd-links-link d-inline-block rounded">Bariloche</a>
    </li>
    <li class="bd-links-group py-2">
      <a href="#calafate" class= "nav-link bd-links-link d-inline-block rounded">Calafate</a>
    </li>
    <li class="bd-links-group py-2">
      <a href="#Cordoba" class="nav-link bd-links-link d-inline-block rounded">Cordona</a>
    </li>
    <li class="bd-links-group py-2">
      <a href="#jujuy" class="nav-link bd-links-link d-inline-block rounded">Jujuy</a>
    </li>
    <li class="bd-links-group py-2">
      <a href="#mardelplata" class="nav-link bd-links-link d-inline-block rounded">Mar del plata</a>
    </li>
    <li class="bd-links-group py-2">
      <a href="#mendoza" class="nav-link bd-links-link d-inline-block rounded">Mendoza</a>
    </li>
  </ul>
</nav>
